html {
    background-color: rgb(143, 255, 143);
}

.sqaure-list {
    list-style-type: square;
    color: rgb(0, 130, 59);
}

.letters-list {
    list-style-type: upper-alpha;
}

.nav {
    list-style-type: none;
    background-color: rgb(0, 200, 60);
    padding: 30px;
    margin-bottom: 100px;
}
