html {
    background-color: rgb(255, 186, 186);
}

.sqaure-list {
    list-style-type: square;
    color: rgb(185, 1, 1);
}

.letters-list {
    list-style-type: upper-alpha;
}

.nav {
    list-style-type: none;
}